<div class="container">
  <div class="row">
    <%= form_for(@artists_portfolio) do |f| %>
      <% if @artists_portfolio.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@artists_portfolio.errors.count, "error") %> prohibited this artists_portfolio from being saved:</h2>

          <ul>
          <% @artists_portfolio.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :image, 'New Image'  %><br />
        <%= f.file_field :image %>
      </div>
      <div class="field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>

  </div>
</div>
