
<div class="container">
  <div class="row">

    <div class="portfolio-info">

      <div class="portfolio-profile">

        <%= image_tag @artists_portfolio.image.url(:medium), :class => "profile" %>

      </div>
      <div class="portfolio-content">
        <p class="portfolio-name">
          <%= @artists_portfolio.title.capitalize %>
        </p>
        <p class="portfolio-artist-date">
          <%= "By " + @artists_portfolio.user.name %><%= " on " + @artists_portfolio.updated_at.strftime("%B %d, %Y") %>
        </p>
        <p class="portfolio-bio">
          <%= @artists_portfolio.content %>
        </p>
      </div>
    </div>
  </div>
</div>

<p>
  <strong>Image:</strong>
  <%= @artists_portfolio.image %>
</p>

<p>
  <strong>Title:</strong>
  <%= @artists_portfolio.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @artists_portfolio.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @artists_portfolio.user %>
</p>

<%= link_to 'Edit', edit_artists_portfolio_path(@artists_portfolio) %> |
<%= link_to 'Back', artists_portfolios_path %>
