<p id="notice"><%= notice %></p>

<div class="container">

</div>



<!-- Container for post layouts  -->
<div class="container">
  <div class="row">
    <h1 style="text-align:center;">Blog</h1>
  </div>
  <% if user_signed_in? and current_user.admin? %>
    <div class="medium-buttons-blue ">
      <%= link_to 'New Post', new_blog_post_path, :class => "medium-button-blue" %>
    </div>
  <% end %>
  <div class="row">
    <% if @blog_posts.count > 0 %>
    <!--  Container for postlets -->
    <div class="postlets">
      <div class="col-md-8">



        <div class="clearfix"></div>


      <% @blog_posts.each do |post| %>
        <%= link_to post do %>
          <div class="postlet">

            <div class="postlet-image">
              <%= image_tag post.image.url(:medium) if !post.image.nil? %>
            </div>

            <div class="postlet-content">

              <p class="postlet-title">
                <%= post.title if !post.title.nil? %>
              </p>

              <p class="postlet-date">
                <%= post.updated_at.strftime("%B %d, %Y") if !post.updated_at.nil? %>
                by <%= post.user.name if !post.user.nil? %>
              </p>
              <% if user_signed_in? and current_user.admin? %>
                <div class="medium-buttons">
                  <%= link_to 'Edit', edit_blog_post_path(post), :class => "medium-button" %>
                  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "medium-button" %>
                </div>
              <% end %>

            </div>

          </div>
        <% end %>



      <% end %>


      </div>
    </div>

    <% if @top_posts.count > 0 %>
    <!--  container for TOPSTORIES -->
    <div class="col-md-4 sidebar">
      <p id="top-story">TOP STORIES</p>

      <% @top_posts.each do |post| %>
            <%= link_to post do %>
              <div class="top-stories">
                <div class="story">
                  <p class="story-title">
                      <%= post.title if !post.title.nil? %>
                    </p>

                    <p class="story-date">
                      <%= post.updated_at.strftime("%B %d, %Y") if !post.updated_at.nil?%>
                      by <%= post.user.name if !post.user.nil?%>
                    </p>
                </div>
              </div>

      <% end %>
      <% end %>
    </div>

    <% end %>

    <% else %>
    <p style="text-align: center;">
      No posts available.
    </p>
    <% end %>
  </div>


</div>
