<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="center">My Journey</h1>
</div>


<!-- Container for post layouts  -->
<div class="container">
  <div class="row">
    <!--  Container for postlets -->
    <div class="postlets">
      <div class="col-md-8">

      <% if user_signed_in? and current_user.admin? %>
        <div class="medium-buttons-blue ">
          <%= link_to 'New Post', new_blog_post_path, :class => "medium-button-blue" %>
        </div>
      <% end %>

        <div class="clearfix">

        </div>
<% if @blog_posts.count > 0 %>

  <% @blog_posts.each do |post| %>
    <%= link_to post do %>
      <div class="postlet">

        <div class="postlet-image">
          <%= image_tag post.image.url(:medium) %>
        </div>

        <div class="postlet-content">

          <p class="postlet-title">
            <%= post.title %>
          </p>

          <p class="postlet-date">
            <%= post.updated_at.strftime("%B %d, %Y") %>
            by <%= post.user.name %>
          </p>
          <% if user_signed_in? and current_user.admin? %>
            <div class="medium-buttons">
              <%= link_to 'Edit', edit_blog_post_path(post), :class => "medium-button" %>
              <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => "medium-button" %>
            </div>
          <% end %>

        </div>

      </div>
    <% end %>
    <% end %>
<% else %>
<p>
  No My Journey posts at the moment!
</p>
<% end %>
      </div>
    </div>

    <!--  container for TOPSTORIES -->
    <div class="col-md-4 sidebar">
      <p id="top-story">TOP STORIES</p>

      <% @top_posts.each do |post| %>
            <%= link_to post do %>
              <div class="top-stories">
                <div class="story">
                  <p class="story-title">
                      <%= post.title %>
                    </p>

                    <p class="story-date">
                      <%= post.updated_at.strftime("%B %d, %Y") %>
                      by <%= post.user.name %>
                    </p>
                </div>
              </div>

      <% end %>
      <% end %>
    </div>


  </div>
</div>
