
    <%= bootstrap_form_for(@blog_post) do |f| %>
      <% if @blog_post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

          <ul>
          <% @blog_post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">

        <%= f.file_field :image %>
      </div>
      <div class="field">

        <%= f.select(:tag, @tags.map {|p|
            [p.name, p.name]}, :include_blank => true) %>
            <div class="medium-buttons-blue-left">
              <%= link_to 'New Tag', new_tag_path, :class => "medium-button-blue-left" %>
            </div>
      </div>
      <div class="field">

        <%= f.text_field :title %>
      </div>
      <div class="field">

        <%=  f.cktext_area :content, :rows => 8 %>
      </div>
      <div class="actions">
        <%= f.submit %>
        <%= link_to 'Cancel', blog_posts_path %>
      </div>
    <% end %>
