<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>

    <div class="portfolio-info">
        <div class="portfolio-profile">
          <%= image_tag @artists_piece.image.url(:medium), :class => "profile" %>
        </div>
        <div class="portfolio-content">
          <p class="portfolio-name">
            <%= @artists_piece.title %>
          </p>

          <p class="portfolio-artist-date">
            <%= "By " + @artists_piece.user.name + " last updated " + @artists_piece.updated_at.strftime("%B %d, %Y") %>
          </p>

          <p class="portfolio-bio">
            <%= @artists_piece.content %>

            <div class="medium-buttons-blue">
              <%= link_to 'Edit', edit_artists_piece_path(@artists_piece), :class => "medium-button-blue" if current_user == @artists_piece.user %>
            </div>
        <div class="clearfix"></div>
          </p>
        </div>

    </div>



  </div>
</div>
