<div class="header">
  <div class="overlay">
    <h1 class="header_title">Where creativity, love, and work meet</h1>
    <h2 class="header_subtitle">Check out my shop, blog and our featured sponsers and artists</h2>
  </div>
</div>

<div class="corner">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <%= link_to blog_posts_path do %>
        <div class="blog-icon">
          <%= image_tag "blog/blogicon.png" %>
          <h2>BLOG</h2>
        </div>
        <% end %>
      </div>

      <div class="col-md-4 col-sm-4 col-xs-4">
        <%= link_to "/" do %>
          <div class="shop-icon">
              <%= image_tag "shop/cart.png" %>
            <h2>SHOP</h2>
          </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <%= link_to "/" do %>
          <div class="discover-icon">
              <%= image_tag "discover.png" %>
            <h2>DISCOVER</h2>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--  LOOP OVER PRODUCTS (PICK 6) -->
<div class="shop" id="shop">
  <div class="container">
    <h1 id="shop-title">Our Top Products</h1>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <%= link_to "/" do %>
        <div class="product">
          <%= image_tag "shop/1.jpg" %>
        </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to "/" do %>
        <div class="product">
          <%= image_tag "shop/2.jpg" %>
        </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to "/" do %>
        <div class="product">
          <%= image_tag "shop/3.jpg" %>
        </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to "/" do %>
        <div class="product">
          <%= image_tag "shop/4.jpg" %>
        </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to "/" do %>
        <div class="product">
          <%= image_tag "shop/5.jpg" %>
        </div>
        <% end %>
      </div>
      <div class="col-md-4 col-sm-6">
        <%= link_to "/" do %>
        <div class="product">
          <%= image_tag "shop/6.jpg" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--  LOOP OVER POSTS (PICK 6) -->

<% if @blog_posts.count > 0 %>
<div class="blog" id="blog">
  <div class="container">
    <h1 id="blog-title">I love to blog...</h1>
    <div class="row">
      <% @blog_posts.each do |post| %>
        <div class="col-md-4">
            <div class="post">
              <h3 class="post-title"><%= post.title if !post.title.nil? %></h3>
              <h4 class="post-date"><%= post.updated_at.strftime("%B %d, %Y") if !post.updated_at.nil? %><%= " by " + post.user.name if !post.user.nil? %></h4>
              <p class="post-content">
                <%= post.content[0..250] %><%=  "..." if post.content.length > 250 %>
              </p>
              <%= link_to "Read More", post, :class => "read-more" %>
            </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>




<% if @users.count > 0 %>
<div class="artists">
<div class="container">

  <h1 id="shop-title">Our Artists</h1>
  <div class="row">

    <% @users.each do |user| %>

      <%= link_to "/artists/#{user.id}" do %>
        <div class="col-md-4 col-sm-6 person ">
          <div class="artist">
            <%= image_tag user.avatar.url(:medium) %>
          </div>

          <div class="overlay">
            <p class="name">
              <% if user.name.nil? %>
                <%= user.email %>
              <% else %>
                <%= user.name.capitalize %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>

    <% end %>

  </div>
</div>
</div>
<% end %>


<!-- <div class="sponsors">
  <div class="container">
    <h1 id="shop-title">Our Sponsors</h1>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4 google">
        <img src="./img/google.png" />
      </div>
      <div class="col-md-4  col-sm-4 col-xs-4">
        <img src="./img/rar.png" />
      </div>
      <div class="col-md-4  col-sm-4 col-xs-4 google">
        <img src="./img/google.png" />
      </div>
    </div>
  </div>
</div> -->
